body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centrage vertical pour le body */
    height: 100vh; /* Si vous voulez que le body prenne toute la hauteur de l'écran */;
    overflow: hidden;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-style: normal;;


}


.hidden {
    display: none;
}   

/* CARROUSEL IMAGE*/
#image-carroussel{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: auto;
    justify-content: center;
    padding-top: 1em;
    overflow: hidden; 
    overflow-y: auto;
    text-align: center;
}

.img-wrapper {
    position: relative;
    display: inline-block; 
    /* border: #ff90e8 solid 1px; */
    
  }
  
.img-wrapper:hover .img {
    filter: blur(5px) brightness(50%);
    transition: filter 0.3s, transform 0.3s;
    transform: scale(1.05);    
  }
  
.img {
   /* border: blue dotted 1px; */
    position: relative;
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding: 1rem;
    filter: blur(0);    
    transition: 0.5s ease-in-out;
  }

.img-wrapper:hover .infos {
    opacity: 1;
  }


  
.infos {
    /* border: 5px solid red;   */
    width: 350px;
    height: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align: center;
    /*  align-self: center;  */
    /* align-content: center; */
  }

  .artistname{
    font-weight: 700;
    /* font-size: 48px; */
    font-size: 3em;
    text-transform: uppercase;
    color: aliceblue;
  }

a{
    color: #ffffff; /* or simply "white" */
    text-decoration: none;
    font-weight: 100;
    font-size: 0.8em;
  }  
a:hover{
  font-weight: bold;
}


/* SEARCH BAR */
#query-selector-container{
    display: flex;
    flex-direction: column;    
    margin-bottom: 10px;
    margin-top: 10px;
}

.query-button{
    margin-top: 10px;
}
.query-button {
    --bg: #000;
    --hover-bg: #ff90e8;
    --hover-text: #000;
    color: #fff;
    cursor: pointer;
    border: 0.2px solid var(--bg);
    border-radius: 1px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  .query-button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem, -0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  .query-button:active {
    transform: translate(0);
    box-shadow: none;
  }

  #query-input{
        text-align:center;
        width: 150px;
        height: 27px;
        border: 1px solid black;
        outline: none;
        caret-color:black;
        opacity: 0.7;
        border-radius: 30px; 
        letter-spacing: 0.8px;
        color: rgb(19, 19, 19);
        font-size: 13.4px;
        text-transform: uppercase;
      }